.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

   
    border-radius: 5%;
    width: 300px;
    
    background-color: #ddd;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
}

form {
    width: 80%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}


button {
    padding: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

input {
    margin: 10px;
    
}

.container-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 15px;
}