.form-container {
    display: flex;
    justify-content: center;
    align-items: center;

   
    border-radius: 6%;
    width: 300px;
    height: 150px;
    
    background-color: #ddd;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
}

form {
    width: 80%;
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

input {
    margin: 10px;
    padding: 2px;
}

.container-button {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 15px;
}


.button-log {
    color: #0c162d;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #0c162d;
}

.button-reg{
    color: white;
    background-color: #0c162d;
    border: 1px solid #0c162d;
}

.button-log, .button-reg {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 22px;
    border-radius: 10%;
}

.button-log:hover, .button-reg:hover{
    transform: scale(1.15);
    box-shadow: 0 0 5px rgba(12, 22, 45, 0.5);
}