.img-home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    animation: slideInImg 2s forwards;
}

.profile-img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
}

.img_background-home{
    background-image: url('./src/assets/mac3.png');
    background-size: cover;
    position: relative;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    animation: slideInBackground 3.2s forwards;
}

.content-home {
  text-align: left;
  color: black;
  z-index: 0.5;
}

.content-home p {
  position: relative;
    width: 600px;
    margin-top: 45px;
    padding: 0px 30px;
    padding-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    animation: slideInP 4s forwards;
}

@keyframes slideInBackground {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes slideInImg {
    from {
      transform: translateX(-150%);
    }
    to {
      transform: translateX(0%);
    }
}

@keyframes slideInP {
    from {
      transform: translateX(+500%);
    }
    to {
      transform: translateX(0%);
    }
}