#link_nav, #icon_nav{
    position: fixed;
    list-style-type: none;
    top: 0;
    height: 60px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
}

#icon_nav{
    left: 70%;
    width: 30%;
    justify-content: flex-end;
}

#link_nav{
    left: 0;
    width: 70%;
    justify-content: flex-start;
}


li{
    display: inline;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 20px;
}


a:hover{
    color: #7e3737;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c162d;
}